.searchbar-container {
    border: 2px solid #ebebeb;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
    width: 40%;
    
}

.searchbar-container:hover {
    box-shadow: 0 4px 12px rgb(0 0 0 / 5%);
}

.combobox-input {
    width: 100%;
}

.combobox-popover {
    /* transform: translateX(-11px); */
    margin-top: 10px;
    z-index: 100;
    border-radius: 20px;
}

.combobox-popover li {
    padding: 15px;
    border-radius: 20px;
}