.map {
    width: 100%;
    height: 100%;
}

.map-container {
    height: 90vh;
    width: 100%;
}

.switch-button-wrapper {
    display: flex;
    justify-content: center;
}

.switch-button-container {
    z-index: 3;
    position: fixed;
    text-align: center;
    transform: translateY(64vh);
    align-items:center;
}

.switch-button-container button {
    background-color: #222222;
    padding: 20px;
    border-radius: 30px;
    width:110px;
    
}

.switch-button-container :hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.switch-button-container p {
    color: white;
    font-size: 15px;
}

.fa-show {
    color: white;
    padding-left: 7px;
}