/* TODO Add site wide styles */


.profile-pic {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

body {
    background-color: white;
}

.modal-form {
    min-height: 568px;
    min-width: 522px;
    margin: 20px;
}

.page-height {
    height: calc(100vh - 81px);
}