@media (min-width: 0px) {
    .filter-bar {
        margin: 0 40px;
        gap: 45px;
    }
}

@media (min-width: 600px){
    .filter-bar {
        justify-content: space-between;
    }
}

@media (min-width: 1128px) {
    .filter-bar {
        margin: 0 80px;
    }
}

@media (max-width: 783px){
    .filter-bar {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

.filter-bar {
    display: flex;
    height: 50px;
    padding-top: 30px;
    padding-bottom: 4px;
    position: sticky;
    top: 70px;
    left: 0;
    right: 0;
    background-color: white;
}

.filter-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
    cursor: pointer;
    
}

.filter-button:hover {
    border-bottom: 2px solid #222222;
}

.filter-image {
    height: 25px;
    width: 25px;
}

.filter-button p {
    padding-top: 3px;
    padding-bottom: 20px;
    font-size: 13px;
    overflow: visible;
    width: 77px;
    text-align: center;
}
