.reservation-form {
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    padding: 30px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 500px;
    width: 300px;
}

.reservation-form p {
    font-weight: 200;
}

.top-info {
    padding-bottom: 20px;
}

#price {
    font-size: 23px;
    font-weight: 400;
}

.date-container {
    border: 1px solid #727272;
    border-radius: 10px 10px 0 0;
    padding: 10px 20px 10px 20px;
}

.date-picker-title {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.checkout {
    transform: translate(-90px);
}

.guests-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #727272;
    border-radius: 0 0 10px 10px;
    padding: 10px 20px 10px 20px;
    align-items: center;
    cursor:pointer;
}

.reserve{
    height: 50px;
    color: white;
    background-image: radial-gradient(circle at center center, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%);
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.reserve:disabled {
    background-image: radial-gradient(circle,
        rgba(184, 184, 184, 1) 0%,
        rgba(191, 191, 191, 1) 35%,
        rgba(170, 170, 170, 1) 100%) ;
    
}

.no-charge {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 14px;
    text-align: center;
}

.general-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    font-size: 16px;
}

.underline {
    text-decoration: underline;
}

.before-taxes {
    border-top: 1px solid #EBEBEB;
    padding-top: 20px;
    font-weight: 500;
}

.dropdown-reservation {
    position: absolute;
    background-color: white;
    transform: translateY(-318px);
    width: 300px;
    z-index: 1;
    border: 1px solid #EBEBEB;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    border-radius:10px;
    height: 200px;
}

.age {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.age h3 {
    padding-bottom: 5px;
}

.age-button {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;
    font-size: 18px;
}

.age-button button {
    border: 1px solid #727272;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

.age-button button:disabled {
    color:#dddddd;
    border: 1px solid #dddddd;
    cursor: default;
}

.close-button {
    text-decoration: underline;
    
}