nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px #F1F1F1 solid;
    min-height: 80px;
    position: sticky;
        top: 0;
        left: 0;
        right: 0;
    background-color: white;
    z-index: 5;
}

#button-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#nav-button {
    width: 70px;
    border: 1px solid #dddddd;
    border-radius: 21px;
    padding: 5px;
    
}

#nav-button-pics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 4px;
}


#nav-button:hover {
    box-shadow: 0 0 5px 0.5px #dddddd;
    padding: 5;
    transition: box-shadow 0.2s ease;
        transition-property: box-shadow;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        transition-delay: 0s;
}

.profile-dropdown {
    position: absolute;
    background-color: white;
    z-index: 10;
    box-shadow: 0 0 10px 0.5px #dddddd;
    border-radius: 10px;
    min-width: 200px;
    min-height: 90px;
    
}

.profile-dropdown li {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 200;
    border-radius: 10px;
}


.profile-dropdown li:hover {
    background-color: #F1F1F1;
}

#logo-name {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
}

#logo-name h2 {
    padding-left: 7px;
    font-size: large;
    color: #FF5A5F;
    font-weight: 600;
}