.successful-reservation {
    padding: 40px;
}

.success-title {
    border-bottom: 1px solid #eee;
    padding-top: 5px;
}

.successful-reservation h2 {
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 5px;
}

.successful-reservation h3 {
    padding-top: 20px;
    font-size: 25px;
    padding-bottom: 10px;
}

.successful-reservation p {
    font-weight: 200;
    padding-bottom: 15px;
}

.to-trips {
    height: 50px;
        color: white;
        background-image: radial-gradient(circle at center center, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%);
        border-radius: 10px;
        text-align: center;
        width: 300px;
}